body {
  padding: 0px;
  margin: 0px;
}

#blank {
  padding-bottom: 200px;
}

html, body, #mapid {
  width: 100%;
  height: 60vh;
  margin-right: 20px;
}

h1 {
  color: #3cacfd;
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 30px;
  font-family: sans-serif;
}

#summary {
  color: #3cacfd;
  font-style: italic;
  font-family: sans-serif;
  margin-left: 50px;
}

/*input fields*/

#lname {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #3c8cfd;
  border: none;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

#make {
  background-color: #3cacfd;
  padding: 0px 30px;
}

#lname:focus {
  background-color: #3c6cfd;
}

button {
  width: 15%;
  background-color: #3c8cfd;
  padding: 12px 20px;
  border: none;
  color: white;
}

button:hover {
  background-color: #3c6cfd;
}  

#warning {
  background-color: #fd4d3c;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#innerwarning {
  position: absolute;
}

#bad {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 12px 10px;
  background-color: #fc1f0a;
}

#bad:hover {
  background-color: #ea1702;
}

#bodytext {
  max-width: 700px;
  color: #373b3e;
  font-family: sans-serif;
  margin-left: 15px;
}

#bottom {
  width: 15%;
}

/* progress bar */
#apiProgress {
  background-color: #3cfdad;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

#bar {
  width: 0%;
  height: 60px;
  background-color: #019e5d;
  position: absolute;
}

#barText {
 line-height: 60px;
 position: relative;
}

/* map elements */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.Legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}